/* Estilos generales aplicables a todas las páginas */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Estilos específicos para index.html */
#index {
    background-color: royalblue;
    color: white;
}

#index h1 {
    text-align: center;
    color: white;
}

#index p {
    color: black;
}

/* Estilos específicos para pagina1.html */
#pagina1 {
    background-color: lightblue;
    color: darkblue;
}

#pagina1 h1 {
    text-align: left;
    color: darkblue;
}

#pagina1 p {
    color: darkgray;
}
