/* Estilo para el body */
body {
    margin: 0;
    padding: 0;
    font-family: "Raleway", sans-serif;
    background-color: black;
    font-size: 1rem;
}

/* Estilo para los títulos */
#portafolio h1,
#portafolio h2 {
    text-align: center;
    font-size: 2rem;
    margin: 0;
    padding: 1.25rem 0;
    color: white;
}

/* Estilo para los párrafos */
#portafolio p {
    font-family: "Lora", sans-serif;
    font-size: 1.2rem;
    margin: 0;
    padding: 0;
    text-align: justify;
    color: white;
}

/* Cada section se ajusta dinámicamente al contenido */
section {
    width: 100%;
    position: relative;
    margin: 0rem;
    padding: 0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover; /* Ajusta el tamaño de la imagen de fondo */
    background-position: center;
    background-repeat: no-repeat;
    box-sizing: border-box;
    border: 0.063rem solid rgba(255, 255, 255, 0.3);
    text-shadow: 0.313rem 0.313rem 0.313rem black; /* Sombreado del texto */
}

/* Ejemplo para la primera sección */
#obra1 {
    background-image: url("../assets/imagenes/fondo1.jpg"); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    max-height: 100vh;
}

#obra2 {
    background-image: url("../assets/imagenes/fondo2.jpg"); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    max-height: 100vh;
}

#obra1 p, #obra2 p {
    font-family: "Lora", sans-serif;
    font-size: 1.2rem;
    margin: 0.625rem;
    padding: 0;
    color: white;
    text-align: justify; /* Justifica el texto */
    max-width: 80%; /* Ajusta el ancho máximo */
}


/* Estilo para la sección Tres ecos */
#obra3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 2.5rem 0;
    background-image: url("../assets/imagenes/fondo3.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    color: white;
}

/* Contenedor principal de la obra 3 */
.obra3-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 75rem; /* Ajusta según necesites */
}

/* Contenedor de imágenes horizontales */
.horizontal-images {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Alinea a la izquierda */
    gap: 0.625rem;
}

/* Imágenes horizontales */
.horizontal-images img {
    width: 75rem; /* Ajusta el tamaño según necesites */
    height: auto;
    border: 0.125rem solid white;
}

/* Contenedor de imágenes verticales */
.vertical-images {
    display: flexbox;
    flex-direction: column;
    align-items: flex-end; /* Alinea a la derecha */
    gap: 0.625rem;
}

/* Imágenes verticales */
.vertical-images img {
    width: 12.5rem; /* Ajusta el tamaño según necesites */
    height: auto;
    border: 0.125rem solid white;
}

.terrario-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: transparent; /* Asegura que no hay fondo */
}

.terrario-container a img {
    max-width: 12.5rem;
    height: auto;
    margin: 1.25rem;
    transition: transform 0.3s ease;
    border: none !important; /* Fuerza la eliminación del borde */
    outline: none !important; /* Asegura que no haya contorno */
    background-color: transparent !important; /* Asegura que no haya fondo */
}


.terrario-container a img:hover {
    transform: scale(1.1);
    cursor: pointer;
}


/* Texto dentro de la sección */
#obra3 p {
    font-family: "Lora", sans-serif;
    font-size: 1.2rem;
    margin-top: 0.625rem;
    margin: 0.625rem;
    padding: auto;
    color: white;
    text-shadow: 0.125rem 0.125rem 0.063rem green;
    text-align: justify;
}


/* Nuevas secciones */
#obra4 {
    background-image: url("../assets/imagenes/fondo4.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    max-height: 100vh;
}

#obra4 p {
    font-family: "Lora", sans-serif;
    font-size: 1.2rem;
    margin: 0.625rem;
    padding: 0;
    color: white;
    text-align: justify; /* Justifica el texto */
    max-width: 80%; /* Ajusta el ancho máximo */
}

#obra5 {
    background-image: url("../assets/imagenes/fondo5.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    max-height: 100vh;
}

#obra5 p {
    font-family: "Lora", sans-serif;
    font-size: 1.2rem;
    margin: 0.625rem;
    padding: 0;
    color: white;
    text-align: justify; /* Justifica el texto */
    max-width: 80%; /* Ajusta el ancho máximo */
}

#obra6 {
    background-image: url("../assets/imagenes/fondo6.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    max-height: 100vh;
}

/* Contenedor para los videos */
.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    
}

.video-container iframe {
    width: 50%;
    height: 20rem;
 }

/* Estilo del footer */
footer {
    padding: 1.25rem;
    background-color: black;
    border-top: 0.063rem solid rgba(255, 255, 255, 0.3);
    position: relative;
    text-align: center; /* Centra el texto */
}

footer p {
    font-family: 'Lora', serif !important;
    text-align: center !important;
    font-size: 2em !important;
    margin: 0;
    color: white; /* Color del texto */
    font-family: "Lora", sans-serif; /* Puedes elegir la fuente que prefieras */
}


/* Estilo para la imagen del botón */
.home-button {
    width: 3.75rem;  /* Ajusta el tamaño según lo que necesites */
    height: auto;
    margin-top: 0.625rem;
    transition: transform 0.3s ease;  /* Añade una pequeña animación al hacer hover */
}

/* Efecto hover en el botón */
.home-button:hover {
    transform: scale(1.1);  /* Agranda ligeramente el botón al hacer hover */
    cursor: pointer;
}

/* Estilo para la galería de Tres ecos */
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.25rem;
    margin-top: 1.25rem;
}

.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#obra3 img {
    max-width: 28.125rem;
    height: auto;
    border: 0.125rem solid white;
}

#obra3 a img {
    max-width: 18.75rem; /* Ajusta el tamaño del PNG del terrario */
    height: auto;
    margin-top: 1.25rem;
    transition: transform 0.3s ease;  /* Animación al hacer hover */
}

/* Efecto hover en la imagen del terrario */
#obra3 a img:hover {
    transform: scale(1.1);
    cursor: pointer;
}

@media (max-width: 768px) {
    section {
        padding: 1.25rem 0;  /* Reduce el padding */
    }
    
    #portafolio h1,
    #portafolio h2 {
        font-size: 1.5rem;  /* Reduce el tamaño de los títulos */
    }
    
    #portafolio p {
        font-size: 1rem;  /* Reduce el tamaño de los párrafos */
    }

    .obra3-content {
        flex-direction: column; /* Pone los contenedores de imágenes uno debajo del otro */
        align-items: center;
    }

    .horizontal-images img, .vertical-images img {
        width: 100%; /* Las imágenes ocupan todo el ancho disponible */
    }

    .terrario-container a img {
        max-width: 9.375rem; /* Reduce el tamaño del terrario */
    }

    .home-button {
        width: 0.195rem; /* Reduce el tamaño del botón en pantallas pequeñas */
    }
}

@media (max-width: 480px) {
    #portafolio h1,
    #portafolio h2 {
        font-size: 1.2rem;  /* Aún más pequeño en pantallas muy pequeñas */
    }

    #portafolio p {
        font-size: 0.9rem; /* Reduce el tamaño del texto aún más */
    }

    .home-button {
        width: 2.5rem; /* Botón más pequeño */
    }

    .gallery img {
        max-width: 100%; /* Las imágenes ocupan todo el ancho */
    }
}

img {
    max-width: 100%;
    height: auto;
 }

