/* Estilo para el body */
body {
    margin: 0;
    padding: 0;
    font-family: "Raleway", sans-serif;
    background-color: black;
}

/* Estilo para los títulos */
#portafolio h1,
#portafolio h2 {
    text-align: center;
    margin: 0;
    padding: 20px 0;
    color: white;
}

/* Estilo para los párrafos */
#portafolio p {
    font-family: "Lora", sans-serif;
    font-size: 1.2rem; /* Cambia el tamaño de fuente a algo más manejable */
    margin: 0;
    padding: 0;
    text-align: center;
    color: white;
}

/* Cada section se ajusta dinámicamente al contenido */
section {
    width: 100%;
    position: relative;
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover; /* Ajusta el tamaño de la imagen de fondo */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

/* Ejemplo para la primera sección */
#obra1 {
    background-image: url("../assets/imagenes/fondo1.jpg"); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    max-height: 100vh;
}

#obra2 {
    background-image: url("../assets/imagenes/fondo2.jpg"); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    max-height: 100vh;
}

#obra3 {
    background-image: url("../assets/imagenes/fondo3.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    max-height: 100vh;
}

/* Contenedor para los videos */
.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/* Pie de página */
footer {
    text-align: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    border-top: 1px solid rgba(255, 255, 255, 0.3);
}
